<nav class="navbar">

  <div class="profile-dropdown">
    <span>Community</span>

  </div>

  <ul class="nav-links">
    <li class="dropdown">
      <a href="#">Design resources <span class="arrow-down"></span></a>


      <div class="dropdown-content">
        <div class="column">
          <h3>UI kits</h3>
          <p>Pre-made essentials like buttons and toasts</p>
          <div class="imageContainer">
            <img src="assets/image1.png" alt="UI-Kits-Image">
            <img src="assets/image2.png" alt="UI-Kits-Image">

          </div>

        </div>
        <div class="column">
          <h3>Wireframes</h3>
          <p>Explore your early ideas with lo-fi frames</p>
          <img src="assets/image2.png" alt="Wireframes Image">
        </div>
        <div class="column" style="box-shadow: none; justify-content: center;padding: 25px;">

          <ul>
            <li><a href="#">Design templates</a></li>
            <li><a href="#">Desktop apps & websites</a></li>
            <li><a href="#">Mobile apps</a></li>
            <li><a href="#">Portfolio templates</a></li>
            <li><a href="#">Resume templates</a></li>
          </ul>



        </div>
        <div class="column" style="box-shadow: none;">
          <ul>
            <li><a href="#">Assets</a></li>
            <li><a href="#">Illustrations</a></li>
            <li><a href="#">Icons</a></li>
            <li><a href="#">Shapes & colors</a></li>
          </ul>
        </div>
      </div>
    </li>


    <!-- <li><a href="#" class="liheader">Plugins <span class="arrow-down"></span></a></li> -->
    <li class="dropdown2">
      <a href="#">Plugins <span class="arrow-down"></span></a>


      <div class="dropdown2-content">
        <div class="column">
          <h3>Editing & effects</h3>
          <p>Transform your colors, images, texts, and more</p>
          <div class="imageContainer">
            <img src="assets/image1.png" alt="UI-Kits-Image">
            <img src="assets/image2.png" alt="UI-Kits-Image">

          </div>

        </div>
        <div class="column">
          <h3>File organization</h3>
          <p>Explore your early ideas with lo-fi frames</p>
          <img src="assets/image2.png" alt="Wireframes Image">
          <div class="column">
            <h3>development</h3>
          </div>
        </div>
        <div class="column" style="box-shadow: none; justify-content: center;padding: 25px;">

          <ul>
            <li><a href="#">Design templates</a></li>
            <li><a href="#">Desktop apps & websites</a></li>
            <li><a href="#">Mobile apps</a></li>
            <li><a href="#">Portfolio templates</a></li>
            <li><a href="#">Resume templates</a></li>
          </ul>



        </div>
        <div class="column" style="box-shadow: none;">
          <ul>
            <li><a href="#">Assets</a></li>
            <li><a href="#">Illustrations</a></li>
            <li><a href="#">Icons</a></li>
            <li><a href="#">Shapes & colors</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="dropdown2">
      <a href="#">White Boarding <span class="arrow-down"></span></a>


      <div class="dropdown2-content">
        <div class="column">
          <h3>Editing & effects</h3>
          <p>Transform your colors, images, texts, and more</p>
          <div class="imageContainer">
            <img src="assets/image1.png" alt="UI-Kits-Image">
            <img src="assets/image2.png" alt="UI-Kits-Image">

          </div>

        </div>
        <div class="column">
          <h3>File organization</h3>
          <p>Explore your early ideas with lo-fi frames</p>
          <img src="assets/image2.png" alt="Wireframes Image">
          <div class="column">
            <h3>development</h3>
          </div>
        </div>
        <div class="column" style="box-shadow: none; justify-content: center;padding: 25px;">

          <ul>
            <li><a href="#">Design templates</a></li>
            <li><a href="#">Desktop apps & websites</a></li>
            <li><a href="#">Mobile apps</a></li>
            <li><a href="#">Portfolio templates</a></li>
            <li><a href="#">Resume templates</a></li>
          </ul>



        </div>
        <div class="column" style="box-shadow: none;">
          <ul>
            <li><a href="#">Assets</a></li>
            <li><a href="#">Illustrations</a></li>
            <li><a href="#">Icons</a></li>
            <li><a href="#">Shapes & colors</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="dropdown2">
      <a href="#">Presentation <span class="new-badge">New</span><span class="arrow-down"></span></a>


      <div class="dropdown2-content">
        <div class="column">
          <h3>Editing & effects</h3>
          <p>Transform your colors, images, texts, and more</p>
          <div class="imageContainer">
            <img src="assets/image1.png" alt="UI-Kits-Image">
            <img src="assets/image2.png" alt="UI-Kits-Image">

          </div>

        </div>
        <div class="column">
          <h3>File organization</h3>
          <p>Explore your early ideas with lo-fi frames</p>
          <img src="assets/image2.png" alt="Wireframes Image">
          <div class="column">
            <h3>development</h3>
          </div>
        </div>
        <div class="column" style="box-shadow: none; justify-content: center;padding: 25px;">

          <ul>
            <li><a href="#">Design templates</a></li>
            <li><a href="#">Desktop apps & websites</a></li>
            <li><a href="#">Mobile apps</a></li>
            <li><a href="#">Portfolio templates</a></li>
            <li><a href="#">Resume templates</a></li>
          </ul>



        </div>
        <div class="column" style="box-shadow: none;">
          <ul>
            <li><a href="#">Assets</a></li>
            <li><a href="#">Illustrations</a></li>
            <li><a href="#">Icons</a></li>
            <li><a href="#">Shapes & colors</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <!-- <div class="search-container">
    <form action="/action_page.php">
     
    </form>
  </div> -->
  <!-- <input type="text" placeholder="Search.." name="search" class="fa-solid fa-magnifying-glass"> -->
  

  <!-- Button trigger modal -->
  <p class="lgbtn">Log in</p>

  <button class="supbtn">Signup</button>


</nav>
<hr>

<!-- 2nd rows and columns -->

<div class="row">
  <div class="col">
    <div class="rowcontent">
      <img src="assets/profileimg.jpg" alt="width:10%;height:20%">
      <p>Marwan</p>
      <br>
      <h1>Login Page</h1>
      <span>Design file •

        <i class="fa-light fa-heart"></i> 136 •

        10k<i class="fa-thin fa-user"></i>users</span><br>
      <button type="button" class="btn btn-primary" data-bs-toggle="button">Open in Figma</button>
    </div>

  </div>
  <div class="col">
    <div class="columncontent2">
      <img src="assets/img2ndrw.png" alt="">
    </div>
  </div>
</div>
<br><br>

<div class="footer">
  <h2 routerLink="/task">About</h2>&nbsp;&nbsp;&nbsp;&nbsp;
  <h2 routerLink="/Comment">Comment</h2>
</div>
<hr>

<div class="centerimg">
  <div class="row">
    Preview
    <br>

    <div class="col-8">
      <img src="assets/img2ndrw.png" alt="">
    </div>


    <div class="col"><i class="fa-light fa-bullhorn"></i>
      <div class="column-two">
        <b>This is a Figma Community file.</b><br>
        <p>Community is a space for Figma users to share things they create.</p>
        <a href="">Get started with a free account →</a>
      </div>
    </div>
  </div>
</div>
<br>
<hr>

<!-- Above foooter -->

<div class="footer_row">
  <div class="row">
    <div class="col-3">
      <h1>More by this creator</h1>
      <img src="assets/footer_img1.png" alt="">
    </div>
    <div class="col-3">
      <img src="assets/footer_img2.png" alt="">
    </div>
    <div class="col-3">
      <img src="assets/foooter_img3.png" alt="">
    </div>
  </div>
  <div class="col-3"></div>
</div>

<app-comment></app-comment>