<hr>

<div class="inputcontainer"> 
    <input type="text" id="text"  placeholder="Add a comment"> 
    <button id="post">Post</button>
</div>

<br><br><br><br>
<br>
<br>
<br>
<hr>

   <!-- finally  foooter  -->
<div class="f_footers">   
<div class="row">
<div class="col-3">
    Popular searches

    <ul>
        <li>Design templates</li><br>
        <li>Desktop apps & websites</li><br>
        <li>Mobile apps</li><br>
        <li>Portfolio templates</li> <br>
        <li>Resume templates</li><br>
      </ul>
    


</div>
<div class="col-3">Most used
    Most Used
   


    <ul>
    <li>Material 3 Design Kit</li> <br>
    <li>iOS 18 and iPadOS 18</li><br>
    <li>Figma auto layout playground</li><br>
    <li>Anima - Figma to React, Html</li><br>
    <li>Ant Design Open Source</li><br>
    </ul>
    
</div>
<div class="col-3">Recommended categories
<ul>
    <li>Instagram Templates</li><br>
    <li>Workshop Templates</li><br>
    <li>Laptop Mockups</li><br>
    <li>Data MockUps</li><br>
    <li>Design Inspirations</li><br>
</ul>
</div>
<div class="col-3">Top categories
    <ul>
    <li>Design Templates</li><br>
    <li>Libraries</li><br>
    <li>icons</li><br>
    <li>Development</li><br>
    <li>BrainStroming</li><br>
</ul>
</div>
</div>
</div> 

<br><br><br><br><br><br><br>                    
<h1>Figma</h1>
<h2>© 2024 Figma, Inc. • Site map • Community guidelines • Terms of service</h2>
<br>
<br>